
html {
	padding: 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 12px;
	color: #DFDFDF;
	background-color: #1F1F1F;
}

a {
	color: #FA9E0E;
	text-decoration: none;
}

img.icon {
	height: 16px;
	width: 16px;
}

.purple {
	color: #C23DFF;
}

.blue {
	color: #45E0D3;
}

.green {
	color: #B7F731;
}

.orange {
	color: #FFC226;
}

.red {
	color: #FF297E;
}



ul#menu li {
	position: relative;
	float: left;
}

ul#menu li ul.subMenu {
	position: absolute;
	display: none;
	width: 100%;
}

ul#menu li:hover ul.subMenu {
	display: block;
}

ul#menu li:hover ul.subMenu li {
	float: none;
}

ul#menu a {
	display: block;
	margin: 0 2px 2px 0;
	padding: 5px 12px 4px;
	text-transform: uppercase;
	font-size: 11px;
	font-weight: bold;
	color: #FFF;
	background-color: #474747;
}

ul#menu a:hover {
	background-color: #555;
}

body#home ul#menu a#homeNav,
body#reprocessingOrders ul#menu a#reprocessingOrdersNav,
body#reprocessingMarket ul#menu a#reprocessingMarketNav {
	color: #45E0D3;
}



#content {
	clear: both;
	padding: 10px;
	background-image: -webkit-gradient(
		linear,
		left top,
		right bottom,
		color-stop(0.70, #282828),
		color-stop(0.90, #1F1F1F)
	);
}



div.dataWrap {
	margin: 10px;
	background-color: #323232;
}

div.dataClear {
	clear: both;
}

table.data {
	float: left;
}

table.data caption {
	padding: 5px 12px;
	font-weight: bold;
	color: #FFF;
	background-color: #1C1C1C;
}

table.data caption span.meta {
	color: #AFAFAF;
}

table.data caption span.meta span {
	padding: 0 10px;
}

table.data caption span.actions {
	float: right;
}

table.data tr th {
	padding: 5px 12px;
	border-right: 1px solid #282828;
	font-weight: bold;
	color: #AFAFAF;
	white-space: nowrap;
	background-color: #3D3D3D;
}

table.data tr td {
	padding: 4px 6px;
	border-right: 1px solid #282828;
	white-space: nowrap;
	background-color: #323232;
}

table.data tr:hover td,
table.data tr.highlight td {
	background-color: #555;
}

table.data tr th:last-child,
table.data tr td:last-child {
	border: 0;
}

table.data tr td.icon,
table.data tr td.spark,
table.data tr td.progress {
	padding: 2px 6px;
}

table.data tr td.icon,
table.data tr td.spark {
	line-height: 0;
}

table.data tr td.progress div.progressWrap {
	position: relative;
	border: 2px solid #282828;
}

table.data tr td.progress div.progressWrap div.progressValue {
	height: 12px;
	background-color: #1F1F1F;
}

table.data tr td.progress div.progressWrap div.progressValue div.progressText {
	position: absolute;
	width: 100%;
	font-size: 8px;
	text-align: center;
}



div.data {
}

div.data div.caption {
	padding: 5px 12px;
	font-weight: bold;
	color: #FFF;
	background-color: #1C1C1C;
}

div.data div.content {
	padding: 4px 6px;
	white-space: nowrap;
	background-color: #323232;
}
